
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav class="bg-primary">
  <div class="container">
    <div class="nav-wrapper">
    <a href="/home" class="brand-logo">Blog</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/about">About</a></li>
      <li><a href="/admin">Admin</a></li>
<!--      <li><a href="/login">Login</a> </li>-->
<!--      <li><a href="/signup">Sign-up</a> </li>-->
      <li><a href="{% url 'blog:login' %}">Login</a></li>
      <li><a href="{% url 'blog:signup' %}">Sign Up</a></li>

    </ul>
     </div>
  </div>
</nav>